body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

p{
  margin: 0;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;
}

.photo {
  margin-top: 10px;
  border-radius: 50%;
  width: 10em;
}

.header_photo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name_pronouns {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 10px;
}

.name {
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.pronouns {
  margin-top: 9px;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  flex-wrap: wrap;
}

.icons {
  margin-right: 5px;
  height: 24px;
}

.jobTitle {
  margin: 0px;;
}

.job {
  display: flex;
  align-items: center;
}

.icons-contacts {
  height: 30px;
}

.middle-dot {
  margin: 0px 5px 0px 5px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}

.mail {
  flex-shrink: 0;
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column ;
  margin: 1em;
  height: 200px;
  width: 450px;
  max-width: 500px;
  border-radius: 2.5em;
  background: #EEEEEE;
  padding: 20px;
}

.title {
  margin: 10px 0px 20px 0px;
  color: black;
  font-weight: bolder;  
  height: auto;
  width: auto;
  text-decoration: none;
}

.description {
  color: black;
  font-weight: normal;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 500px)
{
  .hiden-middle-dot
   {
    display: none;
   }
}

@media (max-width: 420px)
{
   .info{
    font-size: 15px;
   }
   .card{
     height: 100%;
   }
}

@media (max-width: 320px)
{
   .info{
    font-size: 14px;
   }
}

.repo-language-color {
  border: 1px solid var(--color-repo-language-color-border);
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 1px;
  width: 12px;
}

.bagdes {
  display: flex;
  height: 100%;
  align-items: flex-end;
}